<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
        <div>
            InkedHub
        </div>
        <div class="col-1">
            <button>Dashboard</button>        
            <button>Agenda</button>        
            <button>Usuarios</button>        
            <button>Configurações</button>        
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
